    <section id="heading">
      <div class="centered">
        <h1>Looking for work?</h1>
      </div>
    </section>

    <section id="prepare">
      <div class="centered">
        <h2>Prepare for a visit to an Opportunity Center</h2>
        <p>You will be connected to a career coach for free, no matter your barriers. They will help you find the right job, connect to trainings, or locate financial resources.</p>
      </div>
    </section>

    <section id="explore">
      <div class="centered">
        <h2>Explore your career options ahead of time</h2>
        <p>Take a quick assessment and see a list of careers that match your interests. <br> <i>(Estimated time: 2 min.)</i><p>
        <div class="button_wrapper">
          <a href="/assessment" title="Take a career assessment so that you can be better prepared for a visit to an Opportunity Center" data-event-category="Homepage" data-event-action="Take assessment" class="basic-button">Take career assessment</a>
        </div>
      </div>
    </section>

    <section id="time">
      <div class="centered">
        <h2>Make the most of your visit</h2>
        <p>You don't have to make an appointment to visit, come in today! Plan to spend 2-3 hours and follow the steps below to get the most of your time.</p>
        <ul>
          <li><strong>Bring your career assessment results</strong> <br>
              Take the career assessment above so you have a better idea of what you want to do for work.
          </li>
          <li><strong>Sign up for a job seeker profile on the <a href="https://alexsys.dol.alaska.gov/" target="_blank" title="Registration page for ALEXSys">ALEXSys website</strong></a> <br>
              You can start looking for work immediately.
          </li>
          <li><strong>Bring a driver's license or State ID</strong> <br>
              If you sign up for a program at an Opportunity Center, you might need a driver's license or State ID.
              <br><br><span>Don't have an ID? Apply for one now at the <a href="http://doa.alaska.gov/dmv/akol/stateid.htm" title="Visit the DMV Website to get a new ID" target"_blank">DMV Website</a>.</span>
          </li>
        </ul>
      </div>
    </section>

    <div class="clearfix"></div>

    <section id="oppCenterInfo">
      <div class="centered">
        <h2>Visit the location that's right for you</h2>
        <p>Click on a pin below to see the open hours, address, phone number and website for each Opportunity Center.</p>
        <p>You can also <a href="/opportunity-center-info" title="Text-only Opportunity Center information">click here</a> to see a text-only version of this information.</p>
        <p>Sign up for the Opportunity Center job system and receive a personalized recommendation for next steps and a follow-up from a career advisor.</p>
        <div class="button_wrapper">
          <a href="/jobsystem" class="basic-button">Job system</a>
        </div>
        <div id="map_canvas"></div>
      </div>
    </section>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKNLU54D_sMOyuyzqGxS2dYUU00GoF1fA"></script>
    <script>
    var bittersMap = (function() {
      var locations = [
        ['Anchorage Muldoon Job Center', 61.210829, -149.730351,
        '<div id="content">' +
        '<div id="siteNotice">' +
        '</div>' +
        '<h2>Alaska Job Center Network at the Anchorage Public Library</h2>' +
        '<div id="bodyContent">' +
        '<p>Mon-Fri, 8:30AM - 5PM</p>' +
        '<p>1251 Muldoon Rd, Suite 103, Anchorage, AK 99504</p>' +
        '<p><a href="https://goo.gl/maps/S3B24U6c3Tx" target="_blank" title="Job Center Network address in Google Maps">Open in Google Maps</a></p>' +
        '<p><a href="tel:+9072690000">(907) 269-0000</a></p>' +
        '<p><a href="http://www.jobs.state.ak.us/" target="_blank" title="Goodwill Website">Visit the website</a></p>' +
        '</div>' +
        '<br />'],
        ['Anchorage Midtown Job Center', 61.190359, -149.873247,
        '<div id="content">' +
        '<div id="siteNotice">' +
        '</div>' +
        '<h2>Anchorage Midtown Job Center</h2>' +
        '<div id="bodyContent">' +
        '<p>3301 Eagle Street, Suite 101, Anchorage, AK 99503</p>' +
        '<p>Mon-Fri, 8AM - 5PM</p>' +
        '<p><a href="https://goo.gl/maps/iP2BXMyi36C2" target="_blank" title="Anchorage Midtown Job Center address in Google Maps">Open in Google Maps</a></p>' +
        '<p><a href="tel:+9072694800">(907) 269-4800</a></p>' +
        '<p><a href="http://jobs.alaska.gov/index.html" target="_blank" title="Anchorage Midtown Job Center International Website">Visit the website</a></p>' +
        '</div>' +
        '</div>'],
        ['Goodwill Job Connections', 61.216327, -149.887455,
          '<div id="content">' +
          '<div id="siteNotice">' +
          '</div>' +
          '<h2>Goodwill Job Connections</h2>' +
          '<div id="bodyContent">' +
          '<p>610 C St, Anchorage, AK 99501</p>' +
          '<p>Mon-Fri, 9AM - 4PM</p>' +
          '<p><a href="https://goo.gl/maps/iP2BXMyi36C2" target="_blank" title="Goodwill Job Connections address in Google Maps">Open in Google Maps</a></p>' +
          '<p><a href="tel:+9072580010">(907) 258-0010</a></p>' +
          '<p><a href="http://goodwill-alaska.org/job-connections/" target="_blank" title="Anchorage Midtown Job Center International Website">Visit the website</a></p>' +
          '</div>' +
          '</div>'],
          ['Nine Star Employment Services', 61.226274, -149.811656,
              '<div id="content">' +
              '<div id="siteNotice">' +
              '</div>' +
              '<h2>Nine Star Employment Services</h2>' +
              '<div id="bodyContent">' +
              '<p>315 Price St Anchorage, AK 99508</p>' +
              '<p><a href="https://goo.gl/maps/iP2BXMyi36C2" target="_blank" title="Nine Star Employment Services address in Google Maps">Open in Google Maps</a></p>' +
              '<p><a href="tel:+9072975422">(907) 297-5422</a></p>' +
              '<p><a href="http://ninestar.com/locations/nine-star-anchorage-job-center-mountain-view/" target="_blank" title="Anchorage Midtown Job Center International Website">Visit the website</a></p>' +
              '</div>' +
              '</div>', 'assets/icon2.png']

      ],
      mapCenter = new google.maps.LatLng(61.190359, -149.873247),
      mapCanvas = document.getElementById('map_canvas'),
      mapOptions = {
        zoom: 10,
        center: new google.maps.LatLng(0, 0),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      },
      map = new google.maps.Map(mapCanvas, mapOptions),
      infowindow = new google.maps.InfoWindow(),
      bounds = new google.maps.LatLngBounds(),
      marker, i;
      for (i = 0; i < locations.length; i++) {
        var myLatLng = new google.maps.LatLng(locations[i][1], locations[i][2]);
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(locations[i][1], locations[i][2]),
          map: map
        });

          if(locations[i][4]) {
              marker.setIcon(locations[i][4]);
          }

          google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
            infowindow.setContent(locations[i][3]);
            infowindow.open(map, marker);
          }
        })(marker, i));
        bounds.extend(myLatLng);
      };
      map.fitBounds(bounds);
      return {
        init: function() {
          map.set('styles', [{
            featureType: 'landscape',
            elementType: 'geometry',
            stylers: [{
              hue: '#ffff00'
            }, {
              saturation: 30
            }, {
              lightness: 10
            }]
          }]);

        }
      };
    }());

    bittersMap.init();
    </script>
